BODY 	{
	CURSOR: default;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;

	FONT-SIZE: 12px;
}
A:visited 	{COLOR: #006699; text-decoration:none }
A:link		{COLOR: #006699; text-decoration:none }
A:hover 	{COLOR: #FF9933; text-decoration:underline }
A:active 	{COLOR: #006699; text-decoration:none }
TD	{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;

}
td.subject:hover {
	background: #F0F9F9;

}
td.hr {
	border-bottom: 1px blue solid;
}
font,th,td,p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textareaz {

	background-color: #ECECEC;
	border: 1px solid #A9B8C2;
}
input
{		
	margin: 0px;
	padding: 0px;
	font-family: Arial, Verdana;
	font-size: 12px;
	color: #344156;
	line-height: 15px;
	background-image:        url(../images/back.gif);
	background-repeat: repeat-x;
	background-color: #D9EFFF;
}

textarea {
	font-family: verdana, sans-serif;
	font-size: 12px;
}
.status {
	font-size: 10px;
	color: #2F4F4F;
}
hr { border : 0;
 background-color : #A9B8C2;
 height: 1px;
}
.date {
	color: #545454;
	font-size: 9px;
	}
.tablebg { background-color: #8CBFF7;}
.row1 { background-color: #D1E6FC; padding: 4px; }
.row2 { background-color: #B8D7FA; padding: 4px; }
.row3 { background-color: #ZZZZZZ; padding: 4px; }
p.mystyle { margin: 0px; float: center; color: black; font-size: 85%; font-weight: bold; white-space: normal; }
pre { margin: 0px; color: black; font-size: 100%; font-family:Verdana; }